/*
* Caution: Executing these scripts will permanently remove all tables 
* from your database. This action cannot be easily undone and may cause data
* integrity issues. It is highly recommended to back up your database and 
* test this process in a development environment first. 
*/

USE RpaAlmDev;
Go

-- Disable all constraints
EXEC sp_MSforeachtable 'ALTER TABLE ? NOCHECK CONSTRAINT ALL'

-- Drop all tables
-- EXEC sp_MSforeachtable 'DROP TABLE ?'

-- Re-enable all constraints (optional, only if you plan to re-create the tables with constraints immediately after)
-- EXEC sp_MSforeachtable 'ALTER TABLE ? CHECK CONSTRAINT ALL'