USE [RpaAlmDev]
GO
/****** Object:  Table [dbo].[ADDomain]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDomain](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Domain] [nvarchar](255) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_ADDomain] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Automation]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Automation](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[SegmentID] [int] NULL,
	[RegionID] [int] NULL,
	[FunctionID] [int] NULL,
	[RpaStatusID] [int] NULL,
	[BtoWWID] [int] NULL,
	[BoWWID] [int] NULL,
	[FcWWID] [int] NULL,
	[Zcode] [nvarchar](50) NULL,
	[CostCenter] [nvarchar](50) NULL,
	[SseWWID] [int] NULL,
	[LseWWID] [int] NULL,
 CONSTRAINT [PK_Automation] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutomationEnvironment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutomationEnvironment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AutomationID] [int] NULL,
	[CmdbID] [int] NULL,
	[EnvironmentTypeID] [int] NULL,
 CONSTRAINT [PK_AutomationEnvironment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutomationEnvironmentType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutomationEnvironmentType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_AutomationEnvironmentType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AutomationLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AutomationLogEntry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AutomationID] [int] NULL,
	[CreatedWWID] [int] NULL,
	[CreatedDate] [date] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_AutomationLogEntry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CmdbHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CmdbHelper](
    [ID] [int] IDENTITY(1,1) NOT NULL,
	[CmdbID] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Zcode] [nvarchar](50) NULL,
 CONSTRAINT [PK_CmdbHelper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Complexity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Complexity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Complexity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enhancement]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enhancement](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Scope] [nvarchar](255) NULL,
 CONSTRAINT [PK_Enhancement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EnhancementUserStory]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnhancementUserStory](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[EnhancementID] [int] NULL,
	[JiraIssue] [nvarchar](50) NULL,
	[StoryPoints] [int] NULL,
	[JiraIssueLink] [nvarchar](500) NULL,
	[JiraIssueSummary] [nvarchar](max) NULL,
	[StoryPointCostID] [int] NULL,
 CONSTRAINT [PK_EnhancementUserStory] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Function]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Function](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Function] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[JjedsHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JjedsHelper](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[WWID] [int] NOT NULL,
	[CommonName] [nvarchar](255) NULL,
	[Email] [nvarchar](255) NULL,
	[JjedsCreated] [date] NULL,
	[JjedsLastChanged] [date] NULL,
 CONSTRAINT [PK_JjedsHelper] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medal]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medal](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Medal] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Region]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Region](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Region] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Segment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Segment](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_Segment] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlaItem]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlaItem](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SlaMasterID] [int] NULL,
	[SlaItemTypeID] [int] NULL,
	[EnhancementID] [int] NULL,
 CONSTRAINT [PK_SlaItem] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlaItemType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlaItemType](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Cost] [int] NULL,
	[Disabled] [int] NULL,
 CONSTRAINT [PK_SlaItemType] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlaLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlaLogEntry](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SlaMasterID] [int] NULL,
	[CreatedWWID] [int] NULL,
	[CreatedDate] [date] NULL,
	[Comment] [nvarchar](max) NULL,
 CONSTRAINT [PK_SlaLogEntry] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SlaMaster]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SlaMaster](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AutomationID] [int] NULL,
	[ComplexityID] [int] NULL,
	[MedalID] [int] NULL,
	[Zcode] [nvarchar](50) NULL,
	[CostCenter] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_SlaMaster] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RpaStatus]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RpaStatus](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[Description] [nvarchar](255) NULL,
 CONSTRAINT [PK_RpaStatus] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoryPointCost]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoryPointCost](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Points] [int] NULL,
	[MaxHours] [int] NULL,
	[TotalCost] [int] NULL,
	[JnJCostShare] [int] NULL,
	[EffectiveDate] [date] NULL,
 CONSTRAINT [PK_StoryPointCost] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ViAssignments]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ViAssignments](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[VirtualIdentityID] [int] NULL,
	[AutomationEnvironmentID] [int] NULL,
	[Percentage] [int] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_ViAssignments] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VirtualIdentity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VirtualIdentity](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[AccountName] [nvarchar](255) NULL,
	[HostName] [nvarchar](255) NULL,
	[WWID] [int] NULL,
	[IPv4] [nchar](15) NULL,
	[ADDomainID] [int] NULL,
	[Email] [nvarchar](255) NULL,
	[Created] [date] NULL,
	[Retired] [date] NULL,
 CONSTRAINT [PK_VirtualIdentity] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_BoWWID] FOREIGN KEY([BoWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_BoWWID]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_BtoWWID] FOREIGN KEY([BtoWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_BtoWWID]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_CmdbID] FOREIGN KEY([CmdbID])
REFERENCES [dbo].[CmdbHelper] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_CmdbID]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_FcWWID] FOREIGN KEY([FcWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_FcWWID]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_Function] FOREIGN KEY([FunctionID])
REFERENCES [dbo].[Function] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_Function]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_LseWWID] FOREIGN KEY([LseWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_LseWWID]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_Region] FOREIGN KEY([RegionID])
REFERENCES [dbo].[Region] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_Region]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_Segment] FOREIGN KEY([SegmentID])
REFERENCES [dbo].[Segment] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_Segment]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_SseWWID] FOREIGN KEY([SseWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_SseWWID]
GO
ALTER TABLE [dbo].[Automation]  WITH CHECK ADD  CONSTRAINT [FK_Automation_RpaStatus] FOREIGN KEY([RpaStatusID])
REFERENCES [dbo].[RpaStatus] ([ID])
GO
ALTER TABLE [dbo].[Automation] CHECK CONSTRAINT [FK_Automation_RpaStatus]
GO
ALTER TABLE [dbo].[AutomationEnvironment]  WITH CHECK ADD  CONSTRAINT [FK_AutomationEnvironment_Automation] FOREIGN KEY([AutomationID])
REFERENCES [dbo].[Automation] ([ID])
GO
ALTER TABLE [dbo].[AutomationEnvironment] CHECK CONSTRAINT [FK_AutomationEnvironment_Automation]
GO
ALTER TABLE [dbo].[AutomationEnvironment]  WITH CHECK ADD  CONSTRAINT [FK_AutomationEnvironment_CmdbHelper] FOREIGN KEY([ID])
REFERENCES [dbo].[CmdbHelper] ([ID])
GO
ALTER TABLE [dbo].[AutomationEnvironment] CHECK CONSTRAINT [FK_AutomationEnvironment_CmdbHelper]
GO
ALTER TABLE [dbo].[AutomationEnvironment]  WITH CHECK ADD  CONSTRAINT [FK_AutomationEnvironment_EnvironmentType] FOREIGN KEY([EnvironmentTypeID])
REFERENCES [dbo].[AutomationEnvironmentType] ([ID])
GO
ALTER TABLE [dbo].[AutomationEnvironment] CHECK CONSTRAINT [FK_AutomationEnvironment_EnvironmentType]
GO
ALTER TABLE [dbo].[AutomationLogEntry]  WITH CHECK ADD  CONSTRAINT [FK_AutomationLogEntry_Automation] FOREIGN KEY([AutomationID])
REFERENCES [dbo].[Automation] ([ID])
GO
ALTER TABLE [dbo].[AutomationLogEntry] CHECK CONSTRAINT [FK_AutomationLogEntry_Automation]
GO
ALTER TABLE [dbo].[AutomationLogEntry]  WITH CHECK ADD  CONSTRAINT [FK_AutomationLogEntry_JjedsHelper] FOREIGN KEY([CreatedWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[AutomationLogEntry] CHECK CONSTRAINT [FK_AutomationLogEntry_JjedsHelper]
GO
ALTER TABLE [dbo].[EnhancementUserStory]  WITH CHECK ADD  CONSTRAINT [FK_EnhancementUserStory_Enhancement] FOREIGN KEY([EnhancementID])
REFERENCES [dbo].[Enhancement] ([ID])
GO
ALTER TABLE [dbo].[EnhancementUserStory] CHECK CONSTRAINT [FK_EnhancementUserStory_Enhancement]
GO
ALTER TABLE [dbo].[EnhancementUserStory]  WITH CHECK ADD  CONSTRAINT [FK_EnhancementUserStory_StoryPointCost] FOREIGN KEY([StoryPointCostID])
REFERENCES [dbo].[StoryPointCost] ([ID])
GO
ALTER TABLE [dbo].[EnhancementUserStory] CHECK CONSTRAINT [FK_EnhancementUserStory_StoryPointCost]
GO
ALTER TABLE [dbo].[SlaItem]  WITH CHECK ADD  CONSTRAINT [FK_SlaItem_Enhancement] FOREIGN KEY([EnhancementID])
REFERENCES [dbo].[Enhancement] ([ID])
GO
ALTER TABLE [dbo].[SlaItem] CHECK CONSTRAINT [FK_SlaItem_Enhancement]
GO
ALTER TABLE [dbo].[SlaItem]  WITH CHECK ADD  CONSTRAINT [FK_SlaItem_SlaItemType] FOREIGN KEY([SlaItemTypeID])
REFERENCES [dbo].[SlaItemType] ([ID])
GO
ALTER TABLE [dbo].[SlaItem] CHECK CONSTRAINT [FK_SlaItem_SlaItemType]
GO
ALTER TABLE [dbo].[SlaItem]  WITH CHECK ADD  CONSTRAINT [FK_SlaItem_SlaMaster] FOREIGN KEY([SlaMasterID])
REFERENCES [dbo].[SlaMaster] ([ID])
GO
ALTER TABLE [dbo].[SlaItem] CHECK CONSTRAINT [FK_SlaItem_SlaMaster]
GO
ALTER TABLE [dbo].[SlaLogEntry]  WITH CHECK ADD  CONSTRAINT [FK_SlaLogEntry_JjedsHelper] FOREIGN KEY([CreatedWWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[SlaLogEntry] CHECK CONSTRAINT [FK_SlaLogEntry_JjedsHelper]
GO
ALTER TABLE [dbo].[SlaLogEntry]  WITH CHECK ADD  CONSTRAINT [FK_SlaLogEntry_SlaMaster] FOREIGN KEY([SlaMasterID])
REFERENCES [dbo].[SlaMaster] ([ID])
GO
ALTER TABLE [dbo].[SlaLogEntry] CHECK CONSTRAINT [FK_SlaLogEntry_SlaMaster]
GO
ALTER TABLE [dbo].[SlaMaster]  WITH CHECK ADD  CONSTRAINT [FK_SlaMaster_Automation] FOREIGN KEY([AutomationID])
REFERENCES [dbo].[Automation] ([ID])
GO
ALTER TABLE [dbo].[SlaMaster] CHECK CONSTRAINT [FK_SlaMaster_Automation]
GO
ALTER TABLE [dbo].[SlaMaster]  WITH CHECK ADD  CONSTRAINT [FK_SlaMaster_Complexity] FOREIGN KEY([ComplexityID])
REFERENCES [dbo].[Complexity] ([ID])
GO
ALTER TABLE [dbo].[SlaMaster] CHECK CONSTRAINT [FK_SlaMaster_Complexity]
GO
ALTER TABLE [dbo].[SlaMaster]  WITH CHECK ADD  CONSTRAINT [FK_SlaMaster_Medal] FOREIGN KEY([MedalID])
REFERENCES [dbo].[Medal] ([ID])
GO
ALTER TABLE [dbo].[SlaMaster] CHECK CONSTRAINT [FK_SlaMaster_Medal]
GO
ALTER TABLE [dbo].[ViAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ViAssignments_AutomationEnvironment] FOREIGN KEY([AutomationEnvironmentID])
REFERENCES [dbo].[AutomationEnvironment] ([ID])
GO
ALTER TABLE [dbo].[ViAssignments] CHECK CONSTRAINT [FK_ViAssignments_AutomationEnvironment]
GO
ALTER TABLE [dbo].[ViAssignments]  WITH CHECK ADD  CONSTRAINT [FK_ViAssignments_VirtualIdentity] FOREIGN KEY([VirtualIdentityID])
REFERENCES [dbo].[VirtualIdentity] ([ID])
GO
ALTER TABLE [dbo].[ViAssignments] CHECK CONSTRAINT [FK_ViAssignments_VirtualIdentity]
GO
ALTER TABLE [dbo].[VirtualIdentity]  WITH CHECK ADD  CONSTRAINT [FK_VirtualIdentity_ADDomain] FOREIGN KEY([ADDomainID])
REFERENCES [dbo].[ADDomain] ([ID])
GO
ALTER TABLE [dbo].[VirtualIdentity] CHECK CONSTRAINT [FK_VirtualIdentity_ADDomain]
GO
ALTER TABLE [dbo].[VirtualIdentity]  WITH CHECK ADD  CONSTRAINT [FK_VirtualIdentity_JjedsHelper] FOREIGN KEY([WWID])
REFERENCES [dbo].[JjedsHelper] ([ID])
GO
ALTER TABLE [dbo].[VirtualIdentity] CHECK CONSTRAINT [FK_VirtualIdentity_JjedsHelper]
GO
/******************************************************************************************************/
/*********************************** Unique Indexes ***************************************************/
SET ANSI_PADDING ON
GO

/****** Object:  Index [UX_ADDomain_Domain]    Script Date: 1/29/2026 1:47:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_ADDomain_Domain] ON [dbo].[ADDomain]
(
	[Domain] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

/****** Object:  Index [UX_Automation_Name]    Script Date: 1/29/2026 1:47:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Automation_Name] ON [dbo].[Automation]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO

/******************************************************************************************************/
/****** Object:  StoredProcedure [dbo].[sp_DeleteADDomain]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteADDomain]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM ADDomain WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAutomation]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteAutomation]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM Automation WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAutomationEnvironment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteAutomationEnvironment]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM AutomationEnvironment WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAutomationEnvironmentType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteAutomationEnvironmentType]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM AutomationEnvironmentType WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteAutomationLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteAutomationLogEntry]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM AutomationLogEntry WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteCmdbHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteCmdbHelper]
    @ID int
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM CmdbHelper WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteComplexity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteComplexity]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM Complexity WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEnhancement]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteEnhancement]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM Enhancement WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteEnhancementUserStory]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteEnhancementUserStory]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM EnhancementUserStory WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteFunction]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteFunction]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM [Function] WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteJjedsHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteJjedsHelper]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM JjedsHelper WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteMedal]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteMedal]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM Medal WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRegion]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteRegion]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM Region WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSegment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteSegment]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM Segment WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSlaItem]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteSlaItem]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM SlaItem WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSlaItemType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteSlaItemType]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM SlaItemType WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSlaLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteSlaLogEntry]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM SlaLogEntry WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteSlaMaster]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteSlaMaster]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM SlaMaster WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteRpaStatus]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteRpaStatus]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM RpaStatus WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteStoryPointCost]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteStoryPointCost]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM StoryPointCost WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteViAssignments]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteViAssignments]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM ViAssignments WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DeleteVirtualIdentity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_DeleteVirtualIdentity]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        DELETE FROM VirtualIdentity WHERE ID = @ID;
        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllADDomain]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllADDomain]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Domain, Description
    FROM ADDomain
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAutomation]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllAutomation]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Name, SegmentID, RegionID, FunctionID, RpaStatusID,
           BtoWWID, BoWWID, FcWWID, Zcode, CostCenter,
           SseWWID, LseWWID
    FROM Automation
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAutomationEnvironment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllAutomationEnvironment]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AutomationID, CmdbID, EnvironmentTypeID
    FROM AutomationEnvironment
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAutomationEnvironmentType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllAutomationEnvironmentType]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM AutomationEnvironmentType
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllAutomationLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllAutomationLogEntry]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AutomationID, CreatedWWID, CreatedDate, Comment
    FROM AutomationLogEntry
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllCmdbHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllCmdbHelper]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AppID, Name, Zcode
    FROM CmdbHelper
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllComplexity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllComplexity]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM Complexity
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEnhancement]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllEnhancement]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Scope
    FROM Enhancement
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllEnhancementUserStory]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllEnhancementUserStory]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, EnhancementID, JiraIssue, StoryPoints,
           JiraIssueLink, JiraIssueSummary, StoryPointCostID
    FROM EnhancementUserStory
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllFunction]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllFunction]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM [Function]
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllJjedsHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllJjedsHelper]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, WWID, CommonName, Email, JjedsCreated, JjedsLastChanged
    FROM JjedsHelper
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllMedal]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllMedal]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Name, Description
    FROM Medal
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRegion]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllRegion]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM Region
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSegment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSegment]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM Segment
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSlaItem]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSlaItem]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, SlaMasterID, SlaItemTypeID, EnhancementID
    FROM SlaItem
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSlaItemType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSlaItemType]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Name, Description, Cost, Disabled
    FROM SlaItemType
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSlaLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSlaLogEntry]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, SlaMasterID, CreatedWWID, CreatedDate, Comment
    FROM SlaLogEntry
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllSlaMaster]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllSlaMaster]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AutomationID, ComplexityID, MedalID, Zcode,
           CostCenter, StartDate, EndDate
    FROM SlaMaster
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllRpaStatus]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllRpaStatus]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM RpaStatus
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllStoryPointCost]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllStoryPointCost]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Points, MaxHours, TotalCost, JnJCostShare, EffectiveDate
    FROM StoryPointCost
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllViAssignments]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllViAssignments]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, VirtualIdentityID, AutomationEnvironmentID,
           Percentage, StartDate, EndDate
    FROM ViAssignments
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllVirtualIdentity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetAllVirtualIdentity]
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AccountName, HostName, WWID, IPv4,
           ADDomainID, Email, Created, Retired
    FROM VirtualIdentity
    ORDER BY ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDADDomain]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDADDomain]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Domain, Description
    FROM ADDomain
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDAutomation]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDAutomation]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Name, SegmentID, RegionID, FunctionID, RpaStatusID,
           BtoWWID, BoWWID, FcWWID, Zcode, CostCenter,
           SseWWID, LseWWID
    FROM Automation
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDAutomationEnvironment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDAutomationEnvironment]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AutomationID, AppID, EnvironmentTypeID
    FROM AutomationEnvironment
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDAutomationEnvironmentType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDAutomationEnvironmentType]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM AutomationEnvironmentType
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDAutomationLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDAutomationLogEntry]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AutomationID, CreatedWWID, CreatedDate, Comment
    FROM AutomationLogEntry
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDCmdbHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDCmdbHelper]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AppID, Name, Zcode
    FROM CmdbHelper
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDComplexity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDComplexity]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM Complexity
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDEnhancement]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDEnhancement]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Scope
    FROM Enhancement
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDEnhancementUserStory]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDEnhancementUserStory]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, EnhancementID, JiraIssue, StoryPoints,
           JiraIssueLink, JiraIssueSummary, StoryPointCostID
    FROM EnhancementUserStory
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDFunction]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDFunction]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM [Function]
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDJjedsHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDJjedsHelper]
    @ID NVARCHAR(9)
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, WWID, CommonName, Email, JjedsCreated, JjedsLastChanged
    FROM JjedsHelper
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDMedal]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDMedal]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Name, Description
    FROM Medal
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDRegion]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDRegion]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM Region
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDSegment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDSegment]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM Segment
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDSlaItem]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDSlaItem]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, SlaMasterID, SlaItemTypeID, EnhancementID
    FROM SlaItem
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDSlaItemType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDSlaItemType]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Name, Description, Cost, Disabled
    FROM SlaItemType
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDSlaLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDSlaLogEntry]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, SlaMasterID, CreatedWWID, CreatedDate, Comment
    FROM SlaLogEntry
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDSlaMaster]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDSlaMaster]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AutomationID, ComplexityID, MedalID, Zcode,
           CostCenter, StartDate, EndDate
    FROM SlaMaster
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDRpaStatus]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDRpaStatus]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Code, Description
    FROM RpaStatus
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDStoryPointCost]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDStoryPointCost]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, Points, MaxHours, TotalCost, JnJCostShare, EffectiveDate
    FROM StoryPointCost
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDViAssignments]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDViAssignments]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, VirtualIdentityID, AutomationEnvironmentID,
           Percentage, StartDate, EndDate
    FROM ViAssignments
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_GetByIDVirtualIdentity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_GetByIDVirtualIdentity]
    @ID INT
AS
BEGIN
    SET NOCOUNT OFF;
    SELECT ID, AccountName, HostName, WWID, IPv4,
           ADDomainID, Email, Created, Retired
    FROM VirtualIdentity
    WHERE ID = @ID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertADDomain]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertADDomain]
    @Domain NVARCHAR(255) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO ADDomain (Domain, Description)
        VALUES (@Domain, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAutomation]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertAutomation]
    @Name NVARCHAR(255) = NULL,
    @SegmentID INT = NULL,
    @RegionID INT = NULL,
    @FunctionID INT = NULL,
    @RpaStatusID INT = NULL,
    @BtoWWID INT = NULL,
    @BoWWID INT = NULL,
    @FcWWID INT = NULL,
    @Zcode NVARCHAR(50) = NULL,
    @CostCenter NVARCHAR(50) = NULL,
    @SseWWID INT = NULL,
    @LseWWID INT = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO Automation (Name, SegmentID, RegionID, FunctionID, RpaStatusID,
                                BtoWWID, BoWWID, FcWWID, Zcode, CostCenter,
                                SseWWID, LseWWID)
        VALUES (@Name, @SegmentID, @RegionID, @FunctionID, @RpaStatusID,
                @BtoWWID, @BoWWID, @FcWWID, @Zcode, @CostCenter,
                @SseWWID, @LseWWID);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAutomationEnvironment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertAutomationEnvironment]
    @AutomationID INT = NULL,
    @CmdbID NVARCHAR(50) = NULL,
    @EnvironmentTypeID INT = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO AutomationEnvironment (AutomationID, CmdbID, EnvironmentTypeID)
        VALUES (@AutomationID, @CmdbID, @EnvironmentTypeID);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAutomationEnvironmentType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertAutomationEnvironmentType]
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO AutomationEnvironmentType (Code, Description)
        VALUES (@Code, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertAutomationLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertAutomationLogEntry]
    @AutomationID INT = NULL,
    @CreatedWWID INT = NULL,
    @CreatedDate DATE = NULL,
    @Comment NVARCHAR(MAX) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO AutomationLogEntry (AutomationID, CreatedWWID, CreatedDate, Comment)
        VALUES (@AutomationID, @CreatedWWID, @CreatedDate, @Comment);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertCmdbHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertCmdbHelper]
    @AppID NVARCHAR(50),
    @Name NVARCHAR(255) = NULL,
    @Zcode NVARCHAR(50) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO CmdbHelper (AppID, Name, Zcode)
        VALUES (@AppID, @Name, @Zcode);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
 END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertComplexity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertComplexity]
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO Complexity (Code, Description)
        VALUES (@Code, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEnhancement]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEnhancement]
    @Scope NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO Enhancement (Scope)
        VALUES (@Scope);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertEnhancementUserStory]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertEnhancementUserStory]
    @EnhancementID INT = NULL,
    @JiraIssue NVARCHAR(50) = NULL,
    @StoryPoints INT = NULL,
    @JiraIssueLink NVARCHAR(500) = NULL,
    @JiraIssueSummary NVARCHAR(MAX) = NULL,
    @StoryPointCostID INT = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO EnhancementUserStory (EnhancementID, JiraIssue, StoryPoints,
                                          JiraIssueLink, JiraIssueSummary, StoryPointCostID)
        VALUES (@EnhancementID, @JiraIssue, @StoryPoints,
                @JiraIssueLink, @JiraIssueSummary, @StoryPointCostID);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertFunction]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertFunction]
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO [Function] (Code, Description)
        VALUES (@Code, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertJjedsHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertJjedsHelper]	
    @WWID NVARCHAR(9),
    @CommonName NVARCHAR(255) = NULL,
    @Email NVARCHAR(255) = NULL,
    @JjedsCreated DATE = NULL,
    @JjedsLastChanged DATE = NULL,
    @NewID INT OUTPUT

AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO JjedsHelper (WWID, CommonName, Email, JjedsCreated, JjedsLastChanged)
        VALUES (@WWID, @CommonName, @Email, @JjedsCreated, @JjedsLastChanged);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertMedal]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertMedal]
    @Name NVARCHAR(255) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO Medal (Name, Description)
        VALUES (@Name, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRegion]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertRegion]
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO Region (Code, Description)
        VALUES (@Code, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSegment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSegment]
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO Segment (Code, Description)
        VALUES (@Code, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSlaItem]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSlaItem]
    @SlaMasterID INT = NULL,
    @SlaItemTypeID INT = NULL,
    @EnhancementID INT = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO SlaItem (SlaMasterID, SlaItemTypeID, EnhancementID)
        VALUES (@SlaMasterID, @SlaItemTypeID, @EnhancementID);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSlaItemType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSlaItemType]
    @Name NVARCHAR(255) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Cost INT = NULL,
    @Disabled INT = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO SlaItemType (Name, Description, Cost, Disabled)
        VALUES (@Name, @Description, @Cost, @Disabled);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSlaLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSlaLogEntry]
    @SlaMasterID INT = NULL,
    @CreatedWWID INT = NULL,
    @CreatedDate DATE = NULL,
    @Comment NVARCHAR(MAX) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO SlaLogEntry (SlaMasterID, CreatedWWID, CreatedDate, Comment)
        VALUES (@SlaMasterID, @CreatedWWID, @CreatedDate, @Comment);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertSlaMaster]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertSlaMaster]
    @AutomationID INT = NULL,
    @ComplexityID INT = NULL,
    @MedalID INT = NULL,
    @Zcode NVARCHAR(50) = NULL,
    @CostCenter NVARCHAR(50) = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO SlaMaster (AutomationID, ComplexityID, MedalID, Zcode,
                               CostCenter, StartDate, EndDate)
        VALUES (@AutomationID, @ComplexityID, @MedalID, @Zcode,
                @CostCenter, @StartDate, @EndDate);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertRpaStatus]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertRpaStatus]
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO RpaStatus (Code, Description)
        VALUES (@Code, @Description);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertStoryPointCost]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertStoryPointCost]
    @Points INT = NULL,
    @MaxHours INT = NULL,
    @TotalCost INT = NULL,
    @JnJCostShare INT = NULL,
    @EffectiveDate DATE = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO StoryPointCost (Points, MaxHours, TotalCost, JnJCostShare, EffectiveDate)
        VALUES (@Points, @MaxHours, @TotalCost, @JnJCostShare, @EffectiveDate);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertViAssignments]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertViAssignments]
    @VirtualIdentityID INT = NULL,
    @AutomationEnvironmentID INT = NULL,
    @Percentage INT = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO ViAssignments (VirtualIdentityID, AutomationEnvironmentID,
                                    Percentage, StartDate, EndDate)
        VALUES (@VirtualIdentityID, @AutomationEnvironmentID,
                @Percentage, @StartDate, @EndDate);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertVirtualIdentity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_InsertVirtualIdentity]
    @AccountName NVARCHAR(255) = NULL,
    @HostName NVARCHAR(255) = NULL,
    @WWID INT = NULL,
    @IPv4 NCHAR(15) = NULL,
    @ADDomainID INT = NULL,
    @Email NVARCHAR(255) = NULL,
    @Created DATE = NULL,
    @Retired DATE = NULL,
    @NewID INT OUTPUT
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        INSERT INTO VirtualIdentity (AccountName, HostName, WWID, IPv4,
                                      ADDomainID, Email, Created, Retired)
        VALUES (@AccountName, @HostName, @WWID, @IPv4,
                @ADDomainID, @Email, @Created, @Retired);

        SET @NewID = SCOPE_IDENTITY();
        SELECT @NewID AS ID;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateADDomain]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateADDomain]
    @ID INT,
    @Domain NVARCHAR(255) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE ADDomain
        SET Domain = @Domain,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAutomation]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateAutomation]
    @ID INT,
    @Name NVARCHAR(255) = NULL,
    @SegmentID INT = NULL,
    @RegionID INT = NULL,
    @FunctionID INT = NULL,
    @RpaStatusID INT = NULL,
    @BtoWWID INT = NULL,
    @BoWWID INT = NULL,
    @FcWWID INT = NULL,
    @Zcode NVARCHAR(50) = NULL,
    @CostCenter NVARCHAR(50) = NULL,
    @SseWWID INT = NULL,
    @LseWWID INT = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE Automation
        SET Name = @Name,
            SegmentID = @SegmentID,
            RegionID = @RegionID,
            FunctionID = @FunctionID,
            RpaStatusID = @RpaStatusID,
            BtoWWID = @BtoWWID,
            BoWWID = @BoWWID,
            FcWWID = @FcWWID,
            Zcode = @Zcode,
            CostCenter = @CostCenter,
            SseWWID = @SseWWID,
            LseWWID = @LseWWID
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAutomationEnvironment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateAutomationEnvironment]
    @ID INT,
    @AutomationID INT = NULL,
    @AppID NVARCHAR(50) = NULL,
    @EnvironmentTypeID INT = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE AutomationEnvironment
        SET AutomationID = @AutomationID,
            AppID = @AppID,
            EnvironmentTypeID = @EnvironmentTypeID
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAutomationEnvironmentType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateAutomationEnvironmentType]
    @ID INT,
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE AutomationEnvironmentType
        SET Code = @Code,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateAutomationLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateAutomationLogEntry]
    @ID INT,
    @AutomationID INT = NULL,
    @CreatedWWID INT = NULL,
    @CreatedDate DATE = NULL,
    @Comment NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE AutomationLogEntry
        SET AutomationID = @AutomationID,
            CreatedWWID = @CreatedWWID,
            CreatedDate = @CreatedDate,
            Comment = @Comment
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateCmdbHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateCmdbHelper]
    @ID INT,
	@AppID NVARCHAR(50),
    @Name NVARCHAR(255) = NULL,
    @Zcode NVARCHAR(50) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE CmdbHelper
        SET Name = @Name,
            Zcode = @Zcode
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateComplexity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateComplexity]
    @ID INT,
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE Complexity
        SET Code = @Code,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEnhancement]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateEnhancement]
    @ID INT,
    @Scope NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE Enhancement
        SET Scope = @Scope
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateEnhancementUserStory]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateEnhancementUserStory]
    @ID INT,
    @EnhancementID INT = NULL,
    @JiraIssue NVARCHAR(50) = NULL,
    @StoryPoints INT = NULL,
    @JiraIssueLink NVARCHAR(500) = NULL,
    @JiraIssueSummary NVARCHAR(MAX) = NULL,
    @StoryPointCostID INT = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE EnhancementUserStory
        SET EnhancementID = @EnhancementID,
            JiraIssue = @JiraIssue,
            StoryPoints = @StoryPoints,
            JiraIssueLink = @JiraIssueLink,
            JiraIssueSummary = @JiraIssueSummary,
            StoryPointCostID = @StoryPointCostID
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateFunction]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateFunction]
    @ID INT,
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE [Function]
        SET Code = @Code,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateJjedsHelper]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateJjedsHelper]
    @ID INT,
	@WWID NVARCHAR(9),
    @CommonName NVARCHAR(255) = NULL,
    @Email NVARCHAR(255) = NULL,
    @JjedsCreated DATE = NULL,
    @JjedsLastChanged DATE = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE JjedsHelper
        SET CommonName = @CommonName,
            Email = @Email,
            JjedsCreated = @JjedsCreated,
            JjedsLastChanged = @JjedsLastChanged
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateMedal]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateMedal]
    @ID INT,
    @Name NVARCHAR(255) = NULL,
    @Description NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE Medal
        SET Name = @Name,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRegion]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateRegion]
    @ID INT,
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE Region
        SET Code = @Code,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSegment]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSegment]
    @ID INT,
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE Segment
        SET Code = @Code,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSlaItem]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSlaItem]
    @ID INT,
    @SlaMasterID INT = NULL,
    @SlaItemTypeID INT = NULL,
    @EnhancementID INT = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE SlaItem
        SET SlaMasterID = @SlaMasterID,
            SlaItemTypeID = @SlaItemTypeID,
            EnhancementID = @EnhancementID
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSlaItemType]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSlaItemType]
    @ID INT,
    @Name NVARCHAR(255) = NULL,
    @Description NVARCHAR(MAX) = NULL,
    @Cost INT = NULL,
    @Disabled INT = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE SlaItemType
        SET Name = @Name,
            Description = @Description,
            Cost = @Cost,
            Disabled = @Disabled
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSlaLogEntry]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSlaLogEntry]
    @ID INT,
    @SlaMasterID INT = NULL,
    @CreatedWWID INT = NULL,
    @CreatedDate DATE = NULL,
    @Comment NVARCHAR(MAX) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE SlaLogEntry
        SET SlaMasterID = @SlaMasterID,
            CreatedWWID = @CreatedWWID,
            CreatedDate = @CreatedDate,
            Comment = @Comment
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateSlaMaster]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateSlaMaster]
    @ID INT,
    @AutomationID INT = NULL,
    @ComplexityID INT = NULL,
    @MedalID INT = NULL,
    @Zcode NVARCHAR(50) = NULL,
    @CostCenter NVARCHAR(50) = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE SlaMaster
        SET AutomationID = @AutomationID,
            ComplexityID = @ComplexityID,
            MedalID = @MedalID,
            Zcode = @Zcode,
            CostCenter = @CostCenter,
            StartDate = @StartDate,
            EndDate = @EndDate
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateRpaStatus]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateRpaStatus]
    @ID INT,
    @Code NVARCHAR(50) = NULL,
    @Description NVARCHAR(255) = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE RpaStatus
        SET Code = @Code,
            Description = @Description
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateStoryPointCost]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateStoryPointCost]
    @ID INT,
    @Points INT = NULL,
    @MaxHours INT = NULL,
    @TotalCost INT = NULL,
    @JnJCostShare INT = NULL,
    @EffectiveDate DATE = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE StoryPointCost
        SET Points = @Points,
            MaxHours = @MaxHours,
            TotalCost = @TotalCost,
            JnJCostShare = @JnJCostShare,
            EffectiveDate = @EffectiveDate
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateViAssignments]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateViAssignments]
    @ID INT,
    @VirtualIdentityID INT = NULL,
    @AutomationEnvironmentID INT = NULL,
    @Percentage INT = NULL,
    @StartDate DATE = NULL,
    @EndDate DATE = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE ViAssignments
        SET VirtualIdentityID = @VirtualIdentityID,
            AutomationEnvironmentID = @AutomationEnvironmentID,
            Percentage = @Percentage,
            StartDate = @StartDate,
            EndDate = @EndDate
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpdateVirtualIdentity]    Script Date: 1/13/2026 10:10:37 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_UpdateVirtualIdentity]
    @ID INT,
    @AccountName NVARCHAR(255) = NULL,
    @HostName NVARCHAR(255) = NULL,
    @WWID NVARCHAR(9) = NULL,
    @IPv4 NCHAR(15) = NULL,
    @ADDomainID INT = NULL,
    @Email NVARCHAR(255) = NULL,
    @Created DATE = NULL,
    @Retired DATE = NULL
AS
BEGIN
    SET NOCOUNT OFF;
    BEGIN TRY
        UPDATE VirtualIdentity
        SET AccountName = @AccountName,
            HostName = @HostName,
            WWID = @WWID,
            IPv4 = @IPv4,
            ADDomainID = @ADDomainID,
            Email = @Email,
            Created = @Created,
            Retired = @Retired
        WHERE ID = @ID;

        SELECT @@ROWCOUNT AS RowsAffected;
    END TRY
    BEGIN CATCH
        THROW;
    END CATCH
END
GO
